.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;

    .section-copy {
        display: flex;
        gap: 0.5rem;
    }

    .section-attribution {
        display: flex;
        gap: 0.5rem;
    }

    .section-github {
        & a > * {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}
