body {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}