body {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for future compatibility */
}