@use "../abstracts/variables" as vars;

body {
    color: vars.$color-font-light;
}

.section-app-title {
    margin-bottom: 1.5rem;
}

.section-password-config {
    background-color: vars.$color-background-box;

    label {
        background-color: rgba(#333, 0.5);
    }

    .row {
        &__2 {
            .config-option {
                .controls {
                    .password-length {
                        background-color: transparent;
                        color: vars.$color-font-light;
                    }
                }
            }
        }
    }
}

.section-password-container {
    .password-input-group {
        background-color: vars.$color-background-box;

        .password {
            background-color: transparent;
            color: vars.$color-font-light;
        }
    }
}

.button {
    background-color: transparent;

    &__copy, &__regenerate {
        background-color: rgba(#333, .75);
        color: #ddd;
    }
}

.footer {

    background-color: rgba(#333, .3);

    a {
        color: azure;
    }
}